.html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    font-family: 'Oswald', sans-serif;
    max-width: 700px;
    margin: 5% auto;
    text-align: center;
    box-shadow: 50px;
    background-image: url("/images/bitcoin-gaf7597f73_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    background-color: rgb(214, 170, 25);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 75%);
}

.form__result {
    margin: 20px;
    color: black;
    font-size: 24px;
    padding: 20px;
}

.form__amount {
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}

.form__currency {
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}